/.vs
/obj
/bin
/Presentation/bin
/Presentation/obj
/Presentation/Properties
/Business/bin
/Business/obj
/Business.Test/bin
/Business.Test/obj
/Infrastructure/bin
/Infrastructure/obj
/Application/bin
/Application/obj
/AppData
/Service/obj